# .gitattributes

# Auto detect text files and perform LF normalization
* text=auto

.github/workflows/broken_links_checker.yml linguist-generated=true
dependencies.md                            linguist-generated=true
pk_generated_parent.pom                    linguist-generated=true
doc/changes/changelog.md                   linguist-generated=true
